<%- include('header.ejs') %> 

<h1 class="page-title">문의받은 내용들</h1>

<table class="contact-table">
    <thead>
        <tr>
            <th>idx</th>
            <th>성명</th>
            <th>연락처</th>
            <th>이메일</th>
            <th>문의내용</th>
            <th>등록일</th>
            <th>삭제</th>
        </tr>
    </thead>
    <tbody>
        <% lists.forEach(function(item){ %> 
        <tr>
            <td><%=item.idx%></td>
            <td><%=item.name%></td>
            <td><%=item.phone%></td>
            <td><%=item.email%></td>
            <td><%-item.memo.replaceAll("\n","<br>")%></td>
            <td><%=item.regdate%></td>
            <td>
                <a href="/contactDelete?idx=<%=item.idx%>" class="delete-link" onclick="return confirm('정말 삭제할까요?')">삭제</a>
            </td>
        </tr>
        <% }) %> 
    </tbody>
</table>

<%- include('footer.ejs') %> 
